In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
df_panel1 = pd.read_csv(os.path.join('DATA', 'df_panel1_.csv'))

In [4]:
df_panel2 = pd.read_csv(os.path.join('DATA', 'df_panel2_.csv'))

In [5]:
df_panel1.shape

(145586, 54)

In [6]:
df_panel2.shape

(5253, 58)

In [7]:
set(df_panel2).difference(set(df_panel1))

{'T1', 'T2', 'china_inn', 'china_out'}

In [8]:
df_panel1["gvkey_hscode6_date"] = df_panel1['gvkey_hscode6'].astype(str) +"_"+ df_panel1["date"].astype(str)

In [9]:
df_panel2["gvkey_hscode6_date"] = df_panel2['gvkey_hscode6'].astype(str) +"_"+ df_panel2["date"].astype(str)

In [10]:
df_panel = pd.concat([df_panel1.set_index('gvkey_hscode6_date'), 
                      df_panel2[['gvkey_hscode6_date', 'T1', 'T2', 'china_inn', 'china_out']].set_index('gvkey_hscode6_date')], axis='columns')

In [ ]:
# 'T1', 'T2', 'china_inn', 'china_out'

In [11]:
df_panel["T1"] = df_panel["T1"].fillna(0)
df_panel["T2"] = df_panel["T2"].fillna(0)
df_panel["china_inn"] = df_panel["china_inn"].fillna(0)
df_panel["china_out"] = df_panel["china_out"].fillna(0)

In [12]:
df_panel.to_csv(os.path.join('DATA', 'df_panel.csv'))

In [14]:
df_panel.columns

Index(['Unnamed: 0', 'v1', 'gvkey_hscode6', 'vol', 'code2', 'month', 'quarter',
       'period', 'v9', 'v10', 'v11', 'v12', 'vol_log', 't_log', 'vol_log_hat',
       'r', 'sigmar', 'source1', 'n', 'v20', 'despues', 'antes', 't',
       'consistency_china', 'gvkey', 'hscode6', 'year', 'date', 'ap', 'cogs',
       'icap', 'inv', 'invtq', 'ppent', 'sales', 'mkval', 'dap', 'invr', 'gm',
       'tend', 'sales_log', 'id', 'dap_median', 'dap_norm', 'sigmar_median',
       'sigmar_norm', 'sales_median', 'sales_norm', 'gm_median', 'gm_norm',
       'inv_median', 'inv_norm', 'sales_log_hat', 'sales_r', 'T1', 'T2',
       'china_inn', 'china_out'],
      dtype='object')

In [24]:
df_panel.head()

,Unnamed: 0,v1,gvkey_hscode6,vol,code2,month,quarter,period,v9,v10,...,gm_norm,inv_median,inv_norm,sales_log_hat,sales_r,T1,T2,china_inn,china_out,D_out
gvkey_hscode6_date,,,,,,,,,,,,,,,,,,,,,
10000_850440_2010-01-01,3,3,10000_850440,2.16,85,1,1,4,1,0,...,0.864445,182.178,0.765575,5.222932,-0.033587,0.0,0.0,0.0,0.0,0.0
10000_850440_2010-04-01,4,4,10000_850440,2.19,85,4,2,5,0,1,...,0.880070,182.178,0.780391,5.413282,0.029343,0.0,0.0,0.0,0.0,0.0
10000_850440_2010-07-01,5,5,10000_850440,1.18,85,7,3,6,0,0,...,0.916696,182.178,0.841358,5.409070,0.018256,0.0,0.0,0.0,0.0,0.0
10000_850440_2010-10-01,6,6,10000_850440,4.00,85,10,4,7,0,0,...,0.931077,182.178,0.894098,5.172190,-0.019066,0.0,0.0,0.0,0.0,0.0
10000_850440_2011-01-01,7,7,10000_850440,3.16,85,1,1,8,1,0,...,0.845493,182.178,0.871571,5.320775,0.073897,0.0,0.0,0.0,0.0,0.0

In [15]:
df_panel['D_out'] = df_panel['T2'] * df_panel['china_out']

In [20]:
df_panel[df_panel['D_out']==1][df_panel['gvkey_hscode6']=='100095_611610'] #[['date']]

<ipython-input-20-06a275cf3c5f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_panel[df_panel['D_out']==1][df_panel['gvkey_hscode6']=='100095_611610'] #[['date']]

,Unnamed: 0,v1,gvkey_hscode6,vol,code2,month,quarter,period,v9,v10,...,gm_norm,inv_median,inv_norm,sales_log_hat,sales_r,T1,T2,china_inn,china_out,D_out
gvkey_hscode6_date,,,,,,,,,,,,,,,,,,,,,
100095_611610_2015-04-01,566,566,100095_611610,67.16,61,4,2,25,0,1,...,0.975495,1134.9214,NaN,8.510537,-0.007295,0.0,1.0,0.0,1.0,1.0
100095_611610_2015-10-01,568,568,100095_611610,59.29,61,10,4,27,0,0,...,1.077361,1134.9214,1.031901,8.565556,-0.123305,0.0,1.0,0.0,1.0,1.0
100095_611610_2016-04-01,570,570,100095_611610,56.91,61,4,2,29,0,1,...,1.001062,1134.9214,NaN,8.547203,-0.121193,0.0,1.0,0.0,1.0,1.0
100095_611610_2016-10-01,572,572,100095_611610,43.13,61,10,4,31,0,0,...,1.067944,1134.9214,1.044532,8.599770,-0.165734,0.0,1.0,0.0,1.0,1.0
100095_611610_2017-04-01,574,574,100095_611610,51.47,61,4,2,33,0,1,...,0.974830,1134.9214,NaN,8.579272,0.006122,0.0,1.0,0.0,1.0,1.0
100095_611610_2017-10-01,576,576,100095_611610,44.89,61,10,4,35,0,0,...,1.038403,1134.9214,1.269430,8.629948,0.111381,0.0,1.0,0.0,1.0,1.0
100095_611610_2018-04-01,578,578,100095_611610,37.75,61,4,2,37,0,1,...,0.970062,1134.9214,NaN,8.607771,0.045964,0.0,1.0,0.0,1.0,1.0
100095_611610_2018-10-01,580,580,100095_611610,42.52,61,10,4,39,0,0,...,0.992729,1134.9214,1.362855,8.656943,0.015574,0.0,1.0,0.0,1.0,1.0
100095_611610_2019-04-01,582,582,100095_611610,27.52,61,4,2,41,0,1,...,1.174208,1134.9214,NaN,8.633414,0.024356,0.0,1.0,0.0,1.0,1.0

In [22]:
df_panel[df_panel['gvkey_hscode6']=='100095_611610'][['date', 'D_out']]

                                date  D_out
gvkey_hscode6_date
100095_611610_2010-04-01  2010-04-01    0.0
100095_611610_2010-10-01  2010-10-01    0.0
100095_611610_2011-04-01  2011-04-01    0.0
100095_611610_2011-10-01  2011-10-01    0.0
100095_611610_2012-04-01  2012-04-01    0.0
100095_611610_2012-10-01  2012-10-01    0.0
100095_611610_2013-04-01  2013-04-01    0.0
100095_611610_2013-10-01  2013-10-01    0.0
100095_611610_2014-04-01  2014-04-01    0.0
100095_611610_2014-10-01  2014-10-01    0.0
100095_611610_2015-04-01  2015-04-01    1.0
100095_611610_2015-10-01  2015-10-01    1.0
100095_611610_2016-04-01  2016-04-01    1.0
100095_611610_2016-10-01  2016-10-01    1.0
100095_611610_2017-04-01  2017-04-01    1.0
100095_611610_2017-10-01  2017-10-01    1.0
100095_611610_2018-04-01  2018-04-01    1.0
100095_611610_2018-10-01  2018-10-01    1.0
100095_611610_2019-04-01  2019-04-01    1.0
100095_611610_2019-10-01  2019-10-01    0.0

In [28]:
len(df_panel['period'].unique())

41

In [2]:
df_panel = pd.read_csv(os.path.join('DATA', 'df_panel.csv'))

In [5]:
df_panel.columns

Index(['gvkey_hscode6_date', 'Unnamed: 0', 'v1', 'gvkey_hscode6', 'vol',
       'code2', 'month', 'quarter', 'period', 'v9', 'v10', 'v11', 'v12',
       'vol_log', 't_log', 'vol_log_hat', 'r', 'sigmar', 'source1', 'n', 'v20',
       'despues', 'antes', 't', 'consistency_china', 'gvkey', 'hscode6',
       'year', 'date', 'ap', 'cogs', 'icap', 'inv', 'invtq', 'ppent', 'sales',
       'mkval', 'dap', 'invr', 'gm', 'tend', 'sales_log', 'id', 'dap_median',
       'dap_norm', 'sigmar_median', 'sigmar_norm', 'sales_median',
       'sales_norm', 'gm_median', 'gm_norm', 'inv_median', 'inv_norm',
       'sales_log_hat', 'sales_r', 'T1', 'T2', 'china_inn', 'china_out'],
      dtype='object')

In [23]:
def get_df_source12():

    def get_N():
        df = df_panel[df_panel['t']==1][['gvkey_hscode6', 'source1']].groupby(['gvkey_hscode6']).nunique()
        df.reset_index(inplace=True)
        df.rename(columns={'source1': 'N'}, inplace=True)
        dictio = {gvhs: n for gvhs, n in zip(df['gvkey_hscode6'], df['N'])}

        N = dict()
        N[1] = list(df['gvkey_hscode6'][df['N']==1].unique())
        N[2] = list(df['gvkey_hscode6'][df['N']==2].unique())
        N[3] = list(df['gvkey_hscode6'][df['N']==3].unique())
        N[0] = list(set(df_panel['gvkey_hscode6'].unique()).difference(set(N[1])).difference(set(N[2])).difference(set(N[3])))

        return N

    N = get_N()

    # Obs. con 2 sources distintas
    lista = []
    for gvkey in N[2]:
        df = df_panel[df_panel['gvkey_hscode6']==gvkey].copy()
        sources = list(df[df['t']==1]['source1'].unique())
        if len(sources)==1: continue
        lista.append(gvkey)

    df_panel2 = df_panel[np.logical_and(df_panel['gvkey_hscode6'].isin(N[2]), df_panel['t']==1)].copy()

    df = df_panel2[['gvkey_hscode6', 'source1', 'date']].groupby(['gvkey_hscode6', 'source1']).first()
    df.reset_index(inplace=True)
    df_source1 = df[['gvkey_hscode6', 'source1']].copy()
    df_source1

    from datetime import datetime
    from dateutil import relativedelta
    dictio = dict()
    for gv_hs in df_source1['gvkey_hscode6'].unique():
        country = list(df_source1[df_source1['gvkey_hscode6']==gv_hs]['source1'])
        dates1 = list(df_panel2[np.logical_and(df_panel2['gvkey_hscode6']==gv_hs, df_panel2['source1']==country[0])]['date'].copy())
        dates2 = list(df_panel2[np.logical_and(df_panel2['gvkey_hscode6']==gv_hs, df_panel2['source1']==country[1])]['date'].copy())
        if dates1[-1] < dates2[0]: dictio[gv_hs] = [country[0], country[1]]
        if dates1[0] > dates2[-1]: dictio[gv_hs] = [country[1], country[0]]

    df = pd.DataFrame()
    df['gvkey_hscode6'] = dictio.keys()
    df['source1'] = [lista[0] for lista in dictio.values()]
    df['source2'] = [lista[1] for lista in dictio.values()]
    return df

In [24]:
df_source12 = get_df_source12()
df_source12

     gvkey_hscode6         source1         source2
0    100095_611610           China      Bangladesh
1     10016_854442          Brazil           China
2    100609_850131           China  Czech Republic
3    100609_853890           China         Germany
4    100609_854430           China         Austria
..             ...             ...             ...
213    8551_870899           China       Hong Kong
214    8823_940360           China         Austria
215    9016_850300           China          Brazil
216    9818_851830       Hong Kong           China
217    9899_854442  United Kingdom           China

[218 rows x 3 columns]

In [25]:
df_source12.to_csv(os.path.join('DATA', 'df_source12.csv'))

In [42]:
# lista de las empresas con source shift desde China a Taiwan o HongKong
firms_china_hongkong_taiwan = df_source12[np.logical_and(df_source12['source1']=='China', df_source12['source2'].isin(['Hong Kong', 'Taiwan']))]['gvkey_hscode6']

In [30]:
df_panel.columns

Index(['gvkey_hscode6_date', 'Unnamed: 0', 'v1', 'gvkey_hscode6', 'vol',
       'code2', 'month', 'quarter', 'period', 'v9', 'v10', 'v11', 'v12',
       'vol_log', 't_log', 'vol_log_hat', 'r', 'sigmar', 'source1', 'n', 'v20',
       'despues', 'antes', 't', 'consistency_china', 'gvkey', 'hscode6',
       'year', 'date', 'ap', 'cogs', 'icap', 'inv', 'invtq', 'ppent', 'sales',
       'mkval', 'dap', 'invr', 'gm', 'tend', 'sales_log', 'id', 'dap_median',
       'dap_norm', 'sigmar_median', 'sigmar_norm', 'sales_median',
       'sales_norm', 'gm_median', 'gm_norm', 'inv_median', 'inv_norm',
       'sales_log_hat', 'sales_r', 'T1', 'T2', 'china_inn', 'china_out'],
      dtype='object')

In [ ]:
# Una empresa que sale de China a HongKong o Taiwan, no sale realmente de China.
# Por lo tanto, no se considera un periodo de shift.
# T1=0 T2=0 china_inn=0 china_out=0

#  t: Son los 2 periodos de consistency.
# T1: 1er periodo de consistency para toda empresa que hace shift
# T2: 2do periodo de consistency para toda empresa que hace shift
# china_inn: Es el periodo que entra a China (por lo tanto, es China)
# china_out: Son los 2 periodos de consistency para una empresa que sale de China

In [39]:
# T1=0 T2=0 china_inn=0 china_out=0
df_panel.loc[df_panel['gvkey_hscode6'].isin(firms_china_hongkong_taiwan), 'T1'] = 0
df_panel.loc[df_panel['gvkey_hscode6'].isin(firms_china_hongkong_taiwan), 'T2'] = 0
df_panel.loc[df_panel['gvkey_hscode6'].isin(firms_china_hongkong_taiwan), 'china_inn'] = 0
df_panel.loc[df_panel['gvkey_hscode6'].isin(firms_china_hongkong_taiwan), 'china_out'] = 0

In [41]:
# lista de las empresas con source shift desde Taiwan/HongKong -----> China
firms_hongkong_taiwan_china = df_source12[np.logical_and(df_source12['source2']=='China', df_source12['source1'].isin(['Hong Kong', 'Taiwan']))]['gvkey_hscode6']

In [43]:
# T1=0 T2=0 china_inn=0 china_out=0
df_panel.loc[df_panel['gvkey_hscode6'].isin(firms_hongkong_taiwan_china), 'T1'] = 0
df_panel.loc[df_panel['gvkey_hscode6'].isin(firms_hongkong_taiwan_china), 'T2'] = 0
df_panel.loc[df_panel['gvkey_hscode6'].isin(firms_hongkong_taiwan_china), 'china_inn'] = 0
df_panel.loc[df_panel['gvkey_hscode6'].isin(firms_hongkong_taiwan_china), 'china_out'] = 0

In [44]:
df_panel.to_csv(os.path.join('DATA', 'df_panel.csv'))